@import "src/styles/variables";

.sing-up__container {
  width: 100%;
  height: 100vh;
  line-height: 1.3;
  display: flex;
  justify-content: center;
}

.sing-up__wrapper {
  height: 100%;
  max-width: 615px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &--header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &--title {
      margin-top: 5px;
      max-width: 450px;
      h1 {
        font-size: 1.8em;
        font-weight: 700;
        color: $text-color-primary;
        text-align: center;
      }
    }

    &--message {
      margin-top: 10px;
      h2 {
        font-size: 1.1em;
        color: $text-color-primary;
        font-weight: 300;
        text-align: center;
      }
    }
  }

  &--body {
    margin-top: 15px;
    width: 100%;
  }

  &--footer {
    margin-top: 20px;
    width: 100%;

    &--divider {
      margin-top: 20px;
      display: flex;
      align-items: center;
    }

    &--comeback {
      margin-top: 10px;
      color: $gray-primary;
      display: flex;
      justify-content: center;

      .link {

        text-decoration: underline;
        text-decoration-color: currentColor;
        text-decoration-style: solid;
        cursor: pointer;

        &__sing-in {
          margin: 0 10px;
          font-weight: bold;
          color: $primary-blue;
        }

        &__home {
          color: $yellow-primary;
          font-weight: bold;
        }
      }
    }
  }
}

.line-divider {
  height: 1px;
  background-color: $gray-tertiary;
  width: 100%;
}

.letter-divider {
  margin: 0 15px;
  line-height: 1.3;
  font-size: 1em;
  color: $gray-tertiary;
}