@import 'bulma/css/bulma.css';

$yellow-primary: #fddc05;
$yellow-secondary: #f4da36;
$gray-primary: #999999;
$gray-secondary: #f5f5f5;
$gray-tertiary: #ccc;

$gray-nav-bar: #f1f1f3;

$border-primary: #d0d0d0;

$green-check: #8db411;

$primary-blue: #0e3f9f;

$text-color-primary: #333;
$text-color-secondary: #484848;
