@import 'bulma/css/bulma.css';

$yellow-primary: #fddc05;
$gray-primary: #999999;
$gray-secondary: #f5f5f5;
$gray-tertiary: #ccc;

$green-check: #8db411;

$primary-blue: #0e3f9f;

$text-color-primary: #333;
