@import 'src/styles/variables';

.header__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  box-shadow: 1px 1px 1px 1px #ccc;
}

.header__container--wrapper {
  margin-top: 20px;
  padding-left: 10%;
  padding-right: 10%;
  width: 100%;
  display: flex;
  justify-content: space-between;

  .logo__container {
    height: 32px;
    width: 250px;
    margin: auto;
    display: flex;
    align-items: center;

    &--img {
      height: 32px;
      width: 250px;
    }
  }

  .input__container {
    width: 100%;
    padding: 0 6%;
    height: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.header__container--unlogged {
  width: 100%;
  height: 100%;
}

.dropdown__container {
  display: flex;

  &--logged {
    display: none;
  }

  &--logged-collapse,
  &--unlogged-collapse {
    display: none;
    margin: auto;
    .bars {
      font-size: 2em;
    }
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .dropdown__container--logged,
  .dropdown__container--unlogged,
  .input__container {
    display: none;
  }

  .dropdown__container--logged-collapse,
  .dropdown__container--unlogged-collapse,
  .header__container--unlogged {
    display: block;
  }

  .header__container--wrapper {
    padding: 0 15px 0 0;
  }
}

@media (min-width: 992px) {
  .dropdown__container--logged,
  .dropdown__container--unlogged {
    display: block;
  }

  .dropdown__container--logged-collapse,
  .dropdown__container--unlogged-collapse,
  .header__container--unlogged {
    display: none;
  }

  .input__container {
    display: flex;
  }
}

@media (max-width: 767px) {
  .dropdown__container--logged,
  .dropdown__container--unlogged,
  .input__container {
    display: none;
  }

  .dropdown__container--logged-collapse,
  .dropdown__container--unlogged-collapse,
  .header__container--unlogged {
    display: block;
  }

  .header__container--wrapper {
    padding: 0 15px 0 0;
  }
}
