@import 'src/styles/variables';

.unlogged-dropdown__container {
  width: 100%;
  height: 100%;
  background-color: white;
  margin-top: 20px;
  padding: 0 25px;

  &--header {
    display: flex;
    justify-content: flex-start;
  }

  .container--header {
    margin: 5px;

    &__picture {
      height: 68px;
      width: 68px;
      margin-right: 16px;
    }

    &__body {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      &--title {
        font-size: 20px;
        color: $text-color-primary;
        line-height: 1.3;
        text-align: start;
        font-weight: 700;
      }

      &--subtitle {
        font-size: 14px;
        text-align: start;
        color: $text-color-primary;
      }
    }
  }

  &--btns {
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }

  &--search {
    margin-top: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
